{% extends 'base2.html.twig' %}

{% block title %}KShop{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="section-header">
                <h2>
                    Lastest product
                </h2>

                <div class="row" id="lastest-products">
                    {% for product in products %}
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="product-card">
                            <div class="product-card-img">
                                {# <img src="images/Keychron-C1_v4.jpg" alt="">
                                <img src="images/Keychron-C1_v5.jpg" alt=""> #}
                                <img src="{{ asset('images/products/' ~ product.getImage())}}">
                                <img src="{{ asset('images/products/' ~ product.getImage())}}">
                            </div>
                            <div class="product-card-info">
                                <div class="product-btn">
                                    <a href="{{path('homepage_product_detail', {'id': product.id})}}" class="btn-flat btn-hover btn-shop-now">
                                        shop now
                                    </a>
                                    <button class="btn-flat btn-hover btn-cart-add">
                                        <i class="bx bxs-cart-add"></i>
                                    </button>
                                    <button class="btn-flat btn-hover btn-cart-add">
                                        <i class="bx bxs-heart"></i>
                                    </button>
                                </div>
                                <div class="product-card-name">
                                    {{product.Name}}
                                </div>
                                <div class="product-card-price">
                                    <span><del>$80</del></span>
                                    <span class="curr-price">${{product.price}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% endfor %}
                </div>
                <div class="section-footer">
                    <a href="product.html" class="btn-flat btn-hover">view all</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-second">
        <div class="section container">
            <div class="row">
                <div class="col-5 col-md-4">
                    <div class="sp-item-img">
                        <img src="images/Keychron-K2_v5.jpg" alt="">
                    </div>
                </div>

                <div class="col-7 col-md-8">
                    <div class="sp-item-info">
                        <div class="sp-item-name">
                            Keychron-K2_v4
                        </div>
                        <p class="sp-item-des">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores debitis hic repellat aut
                            amet magnam temporibus quas architecto assumenda voluptates tenetur neque itaque, odit alias
                            dignissimos minima veritatis? Quis, deserunt?
                        </p>
                        <a href="product-detail.html" class="btn-flat btn-hover">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section-header">
                <h2 style="margin-bottom:70px;">
                    Best Selling
                </h2>

                <div class="row" id="best-products">
                    {% for product in products %}
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="product-card">
                            <div class="product-card-img">
                                {# <img src="images/Keychron-C1_v4.jpg" alt="">
                                <img src="images/Keychron-C1_v5.jpg" alt=""> #}
                                <img src="{{ asset('images/products/' ~ product.getImage())}}">
                                <img src="{{ asset('images/products/' ~ product.getImage())}}">
                            </div>
                            <div class="product-card-info">
                                <div class="product-btn">
                                    <a href="{{path('homepage_product_detail', {'id': product.id})}}" class="btn-flat btn-hover btn-shop-now">
                                        shop now
                                    </a>
                                    <button class="btn-flat btn-hover btn-cart-add">
                                        <i class="bx bxs-cart-add"></i>
                                    </button>
                                    <button class="btn-flat btn-hover btn-cart-add">
                                        <i class="bx bxs-heart"></i>
                                    </button>
                                </div>
                                <div class="product-card-name">
                                    {{product.Name}}
                                </div>
                                <div class="product-card-price">
                                    <span><del>$80</del></span>
                                    <span class="curr-price">${{product.price}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% endfor %}
                </div>
                <div class="section-footer">
                    <a href="product.html" class="btn-flat btn-hover">view all</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
